div {
    box-sizing: border-box;
}

.box {
    height: 50%;
    width: 50%;
    position: absolute;
}

.inner {
    background: rgb(var(--var-0), var(--var-1), var(--var-2));
}

.old-inner {
    opacity: var(--old-opacity);
    will-change: opacity;
    width: 100%;
    height: 100%;
    background: rgb(var(--old-var-0), var(--old-var-1), var(--old-var-2));
    transition: opacity 2s linear;
}



.tl {
    top: 0;
    left: 0;
}

.tr {
    top: 0;
    right: 0;
}

.bl {
    bottom: 0;
    left: 0;
}

.br {
    bottom: 0;
    right: 0;
}

.outer {
    position: relative;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}