div {
    box-sizing: border-box;
}

.box {
    height: 50%;
    width: 50%;
    position: absolute;
    background-color: rgb(var(--var-0), var(--var-1), var(--var-2));
    transition: opacity 1s linear;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#new {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


#old {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: var(--old-opacity);
    will-change: opacity;
    transition: opacity 1s ease-out;
}

.tl {
    top: 0;
    left: 0;
}

.tr {
    top: 0;
    right: 0;
}

.bl {
    bottom: 0;
    left: 0;
}

.br {
    bottom: 0;
    right: 0;
}

.outer {
    position: relative;
    height: 100%;
    width: 100%;
    transition: background-color 1s linear;
}